@model IList<Cinrad.Service.ViewModels.UsuarioViewModel>
@{
    ViewData["Title"] = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var status = true;
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Usuario</h2>
        <ol class="breadcrumb">
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="active">
                <strong>Registar Usuário</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-sm-18">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">

                        <div class="col-sm-10">
                            <div class="input-group">
                                <input type="text" placeholder="Search client " class="input form-control">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn btn-white"> <i class="fa fa-search"></i> Search</button>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-2 ">
                            <div class="input-group">
                                <select name="status" id="status" class="input form-control btn-white" onselect="FiltrarRegistros()">
                                    <option value="1">Ativo</option>
                                    <option value="0">Inativo</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="clients-list ">
                        <span class="input-group-btn">
                            <a asp-action="UsuarioModal" asp-controller="Usuario" class="btn btn-primary" data-target="#modal-form" data-toggle="modal"> Novo</a>
                        </span>

                        <div id="modal-form" class="modal fade" aria-hidden="true" data-backdrop="false" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    @await Html.PartialAsync("UsuarioModal");
                                </div>
                            </div>
                        </div>
                        <div id="modal-edit" class="modal fade" aria-hidden="true" data-backdrop="false" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    @await Html.PartialAsync("EditarModal");
                                </div>
                            </div>
                        </div>
                        <div id="confirmRemoverModal" class="modal fade">
                            <div class="modal-dialog modal-confirm">
                                <div class="modal-content">
                                    @await Html.PartialAsync("RemoverModal");
                                </div>

                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-striped" id="user-table">
                                <thead>
                                    <tr>
                                        <th colspan="2">Nome</th>
                                        <th>CPF</th>
                                        <th colspan="2">Email</th>
                                        <th colspan="2"> Celular</th>
                                        <th> Perfil</th>
                                        <th> Cliente </th>
                                        <th> Transportadora </th>
                                        <th colspan="3">Açoes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var user in ViewBag.Usuarios)
                                    {
                                        <tr>
                                            <td hidden>@user.Id</td>
                                            <td class="client-avatar"><h2><i class="fa fa-user"></i></h2></td>
                                            <td><a data-toggle="tab" href="#contact-1" class="client-link">@user.Nome</a></td>
                                            <td> @user.CPF</td>
                                            <td class="contact-type"><i class="fa fa-envelope"> </i></td>
                                            <td> @user.Email</td>
                                            <td class="contact-type"><i class="fa fa-phone"> </i></td>
                                            <td> @user.Celular</td>
                                            <td>Perfil</td>
                                            @if (user.Cliente != null)
                                            {
                                                <td>@user.Cliente.RazaoSocial</td>
                                            }
                                            else
                                            {
                                                <td>Nenhum</td>
                                            }
                                            @if (user.Transportadora != null)
                                            {
                                                <td>@user.Transportadora.RazaoSocial</td>
                                            }
                                            else
                                            {
                                                <td>Nenhum</td>
                                            }
                                            <td><a asp-action="RemoverModal" asp-controller="Usuario" asp-route-id="@user.Id" data-toggle="modal" data-target="#confirmRemoverModal" title="Remover"><h2> <i class="fa fa-trash"></i></h2></a></td>
                                            <td><a asp-action="EditarModal" asp-controller="Usuario" asp-route-id="@user.Id" data-toggle="modal" data-target="#modal-edit" title="Editar"><h2><i class="fa fa-edit "></i></h2></a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var option = $('#status').val()
    @status = option;
    $("#status option[value='@status == @true ? "Ativo" : "Inativo"']").prop('selected', true);

    function FiltrarRegistros() {      
        var option = $('#status').val()
        @status = option;
        
        $.ajax({
            url: '/Usuario/Index',
            type: 'GET',
            data: {
                Status: (option == "0" ? false : true)
            },
            headers: {
                RequestVerificationToken:
                    $('input:hidden[name="__RequestVerificationToken"]').val()
            }
        })
            .done(function (result) {
                location.reload();
            })
    }
        //$('#modal-form').data('modal', null);
        //$('#modal-edit').data('modal', null);
        //$('#confirmRemoverModal').data('modal', null);

</script>
